---
const platform = "github";
const username = "royasaucedo";
---
<footer class="text-center py-4">
    <p>Learn more about my projects on <a class="text-blue-700 underline font-bold" href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
 </footer>